# --- Rust/Cargo ------------------------------------------------------------
target/
**/*.rs.bk

# --- Ignored config files
.cargo/config.toml

# --- Editors/IDEs ----------------------------------------------------------
.idea/
*.swp
